#Blacklist (ignore tout)
*

#Whitelist des répertoire
!src/
!ThirdParty/
!Taylor_Couette/
!Enstrophy_TC/
!lin_TC/
!cheby-tools/

#Whitelist des contenus
!src/**

!ThirdParty/**

!h5conv_cyl.py

!Taylor_Couette/*.f90
!Taylor_Couette/*.slurm
!Taylor_Couette/*.py
!Taylor_Couette/*.in
!Taylor_Couette/CMakeLists.txt

!Enstrophy_TC/*.f90
!Enstrophy_TC/*.slurm
!Enstrophy_TC/*.py
!Enstrophy_TC/*.in
!Enstrophy_TC/CMakeLists.txt

!lin_TC/*.f90
!lin_TC/*.slurm
!lin_TC/*.py
!lin_TC/*.in
!lin_TC/CMakeLists.txt

!cheby-tools/spec_forge/
!cheby-tools/spec_forge/*.py

#Whitelist du .gitignore
!.gitignore